html,
body, .App, #root {
  min-height: 100vh;
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #283a6d;
  color: white;
}

.input, .select {
  height: 40px;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  border: none;
  width: 100%;
}

.button {
  background-color: #1cd95f;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  outline: none;
  width: 100%;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #28A745;
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

@media (max-width: 768px){
  .hide-on-mobile {
    display: none;
  }
}
